@import "fdz-styles";

.fdz-home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .fdz-home__logo {
    background: url(~src/assets/images/angular-logo.svg);
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
  }
  
  .fdz-home__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    fdz-logo {
      margin-bottom: 16px;;
    }

    p {
      @include fdz-font(14, #fff);
      margin: 0 0 16px 0;
    }

    fdz-button {
      width: 100%;
      max-width: 300px;

      + p {
        margin-top: 16px;
      }
    }

  }
  
}
