@import "fdz-styles";

.fdz-button {
  width: 100%;

  button {
    width: 100%;
    padding: 12px 16px;
    outline: none;
    border: none;
    background: $colourWhite;
    border-radius: 4px;
    border: 1px solid $colourWhite;
    @include fdz-font(14, $colourApple);
  }

  &:hover {
    button {
      letter-spacing: 2px;
    }
  }

  &.fdz-button--dark {
    button {
      background: $colourMineShaft;
      @include fdz-font(14, $colourWhite);
    }
  }

}