@import "fdz-styles";

.fdz-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    @include fdz-font(16, #222, 600);
    margin: 0;

    span {  
      border-bottom: 2px solid #222;
    }
  }

  &.fdz-logo--alt {
    h1 {
      @include fdz-font(32, #fff, 600);
      span {
        border-bottom: 2px solid #fff;
      }
    }
  }

}
