@import "fdz-styles";

.fdz-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    @include fdz-font(16, $colourMineShaft, 600);
    margin: 0;

    span {
      border-bottom: 2px solid $colourMineShaft;
    }
  }

  &.fdz-logo--alt {
    h1 {
      @include fdz-font(32, $colourMineShaft, 600);
      span {
        border-bottom: 2px solid $colourMineShaft;
      }
    }
  }

}
