<div class="fdz-fund-card">

  <div class="fdz-fund-card__top" [ngStyle]="cardColour">
    <div>
      <p *ngIf="fund?.name">
        <strong>{{ fund.name }}</strong>
      </p>
      <p *ngIf="fund?.target">
        <i class="fas fa-bullseye"></i>
        <span>{{ fund.target | currency: 'GBP' : 'symbol' : '1.0-0' }}</span>
      </p>
    </div>
    <div class="fdz-fund-card__actions">
      <div *ngIf="showEdit" class="fdz-fund-card__action" (click)="onEditFund()">
        <i class="fas fa-pencil-alt"></i>
      </div>
      <div class="fdz-fund-card__action" (click)="onDeleteFund()">
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
  </div>

  <div class="fdz-fund-card__bottom">
    <ng-content></ng-content>
  </div>
</div>
