<div class="fdz-fund-card">

  <div class="fdz-fund-card__top">
    <div>
      <p *ngIf="fund?.name">
        <strong>{{ fund.name }}</strong>
      </p>
      <p *ngIf="fund?.target">
        <i class="fas fa-bullseye"></i>
        <span>{{ fund.target | currency: 'GBP' : 'symbol' : '1.0-0' }}</span>
      </p>
    </div>
    <div>
      <div class="fdz-fund-card__edit" (click)="onFundClick()">
        <i class="fas fa-lg fa-pencil-alt"></i>
      </div>
    </div>
  </div>

  <div class="fdz-fund-card__bottom">
    <ng-content></ng-content>
  </div>  
</div>
