@import "fdz-styles";

$error: $colourWatusi;
$info: $colourFrenchPass;
$success: $colourReef;

.fdz-message {
  @include messageStyle();

  &.fdz-message--error {
    @include messageStyle($error);
  }

  &.fdz-message--info {
    @include messageStyle($info);
  }

  &.fdz-message--success {
    @include messageStyle($success);
  }

}
