<div class="fdz-fund">

  <fdz-header></fdz-header>
  <fdz-content-container>

    <div class="fdz-fund__controls">
      <fdz-icon [iconClass]="'fas fa-chevron-left'" (click)="onBackClick()"></fdz-icon>
    </div>

    <ng-container *ngIf="fund$ | async as fund">
      <fdz-fund-card [fund]="fund" [showEdit]="false">
       
        <fdz-tabs [options]="{ 
          activeIndex: activeTabIndex,
          tabs: [
            { iconClass: 'fas fa-info-circle', name: 'Overview' },
            { iconClass: 'fas fa-pencil-alt', name: 'Edit' },
            { iconClass: 'fas fa-coins', name: 'Add Contribution' }
          ]
        }" (tabChange)="onTabChange($event);">

        <ng-container *ngIf="activeTabIndex === 0">
          <fdz-fund-progress [fund]="fund"></fdz-fund-progress>

          <div class="fdz-fund__divider"></div>

          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00/00/00</td>
                <td>Fund Name</td>
                <td>£0.00</td>
              </tr>
              <tr>
                <td>00/00/00</td>
                <td>Fund Name</td>
                <td>£0.00</td>
              </tr>
              <tr>
                <td>00/00/00</td>
                <td>Fund Name</td>
                <td>£0.00</td>
              </tr>
            </tbody>
          </table>

        </ng-container>
        <ng-container *ngIf="activeTabIndex === 1">edit</ng-container>
        <ng-container *ngIf="activeTabIndex === 2">add contribution</ng-container>

      </fdz-tabs>

      </fdz-fund-card>
    </ng-container>

    <fdz-footer></fdz-footer>
  </fdz-content-container>

</div>
