@import "fdz-styles";

.fdz-input-colour {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .fdz-input-colour__option {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
      color: $colourWhite;
    }
  }

  input[type=radio] {
    display: none;
  }

}
