<div class="fdz-add-fund-form">

  <form [formGroup]="newFundForm" (ngSubmit)="onSubmit()">
    <p><strong>Add New Fund</strong></p>
    <div 
      class="fdz-add-fund-form__row" 
      [ngClass]="{ 
        'invalid' : newFundForm.controls['fundName'].invalid && newFundForm.controls['fundName'].dirty,
        'valid' : newFundForm.controls['fundName'].valid }">
        <input type="text" name="fundName" formControlName="fundName" placeholder="Name" maxlength="20" />
    </div> 
    <div 
      class="fdz-add-fund-form__row" 
      [ngClass]="{
        'invalid' : newFundForm.controls['fundTarget'].invalid && newFundForm.controls['fundTarget'].dirty,
        'valid' : newFundForm.controls['fundTarget'].valid }">
        <input type="text" name="fundTarget" formControlName="fundTarget" placeholder="Target" maxlength="12" mask="separator.0" thousandSeparator="," />
    </div>
    <fdz-button [options]="{ dark: true, text: 'Add', type: 'submit' }"></fdz-button>
  </form>

</div>
