@import "fdz-styles";

$base: #faf5b2;
$inProgress: #baf4ff;
$complete: #cfffb6;

.fdz-fund-pill {
  @include pillStyle();

  &.fdz-fund-pill--in-progress {
    @include pillStyle($inProgress);
  }

  &.fdz-fund-pill--complete {
    @include pillStyle($complete);
  }

}
