@import "fdz-styles";

$base: $colourAstra;
$inProgress: $colourFrenchPass;
$complete: $colourReef;

.fdz-fund-pill {
  @include pillStyle();

  &.fdz-fund-pill--in-progress {
    @include pillStyle($inProgress);
  }

  &.fdz-fund-pill--complete {
    @include pillStyle($complete);
  }

}
