@import "fdz-styles";

$stripHeight: 8px;

.fdz-fund-progress {

  .fdz-fund-progress__legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    p {
      @include fdz-font(12);
      margin: 0;
    }
  }

  .fdz-fund-progress__bar {
    position: relative;
    background: #ccc;
    border-radius: $stripHeight / 2;
    height: $stripHeight;

    .fdz-fund-progress__bar-current {
      background: #00aa00;
      border-radius: $stripHeight / 2;
      height: $stripHeight;
    }

  }

}
