@function pxToRem($pixels, $context: 16) {
  @return #{$pixels/$context}rem;
}

@mixin fdz-font($fontSize:16, $fontColour: #222, $fontWeight: 300){
  font-family: "Montserrat", arial;
  font-size: #{$fontSize}px;
  font-size: pxToRem($fontSize);
  font-weight: $fontWeight;
  color: $fontColour;
  letter-spacing: 1px;
}

@mixin pillStyle($colour: $base) {
  background: $colour;
  padding: 4px 16px;
  border-radius: 32px;

  p {
    @include fdz-font(12, darken($colour, 75%));
    margin: 0;
  }
} 
