@import "fdz-styles";

.fdz-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 16px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  p {
    @include fdz-font(14, #222);
  }

  .fdz-header__spacer {
    width: 32px;
  }

  fdz-icon {
    ::ng-deep > div {
      background: transparent;
      border: 1px solid #222;

      i {
        color: #222;
      }
    }
  }

}
