@import "fdz-styles";

$iconColour: $colourWhite;
$bg: $colourMineShaft;

.fdz-icon {
  background: $bg;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  i {
    color: $iconColour;
  }

  &:hover {
    background: lighten($bg, 20%);
  }

}