.fdz-dashboard {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  padding: 0 16px;

  fdz-fund-card {
    ::ng-deep {
      .fdz-fund-card {
        margin-bottom: 16px;
      }
    }
  }

}

